- name: Uninstall old versions
  become: true
  ansible.builtin.apt:
    name:
      - docker.io
      - docker-compose
      - docker-compose-v2
      - docker-doc
      - podman-docker
      - containerd
      - runc
    state: absent
    update_cache: true

- name: Install dependencies for setting up apt sources
  become: true
  ansible.builtin.apt:
    name:
      - ca-certificates
      - curl
    update_cache: true

- name: Create the directory for keyrings
  become: true
  ansible.builtin.file:
    state: directory
    path: /etc/apt/keyrings
    mode: 0755

- name: Download Docker GPG key
  become: true
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: "0644"

- name: Save result of 'dpkg --print-architecture'
  ansible.builtin.command: dpkg --print-architecture
  register: docker_engine__deb_architecture
  changed_when: false

- name: Add Docker apt repository to source list
  become: true
  ansible.builtin.apt_repository:
    repo: deb [arch={{ docker_engine__deb_architecture.stdout }} signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} stable
    filename: docker
    state: present
    update_cache: true

- name: Install Docker Engine
  become: true
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    update_cache: true

- name: Add docker group
  become: true
  ansible.builtin.group:
    name: docker
    state: present

- name: Add user to docker group
  become: true
  ansible.builtin.user:
    name: "{{ ansible_user_id }}"
    groups: docker
    append: true
